<div class="enter-destination center">
  <div class="enter-destination__header">
    <img src="../../../assets/img/backArrow.png" alt="" />
    <p>Enter Destination</p>
  </div>
  <div class="enter-destination__search">
    <div class="enter-destination__search__icons">
        <img src="../../../assets/img/destiny.svg" alt="">
        <div class="line"></div>
        <img src="../../../assets/img/fromUbication.svg" alt="">
    </div>
    <div class="enter-destination__search__inputs">
      <app-destination></app-destination>
      <div class="enter-destination__search__inputs-destiny">
        <app-destination></app-destination>
        <img src="../../../assets/img/plus.svg" alt="">
      </div>
    </div>
  </div>
  
</div>

