.form{
  display: flex;
  align-items: center;
  border: 2px solid #34D186;
  border-radius: 5px;
  padding: 1.5rem;
  &__input{
    width: 12rem;
    height: 2.1rem;
  }
  &>p{
    font-size: 1.8rem;
    margin-left: 1.1rem;
    margin-right: 1.9rem;
  }
  &>input{
    border: none;
    font-size: 1.8rem;
    &:focus{
      outline:none;
    }
  }
  
  
}