.destination {
  &__input {
    background: rgba(202, 200, 200, 0.16);
    border-radius: .306316rem;
    border: none;
    width:30.5rem;
    height:3.8rem;
    outline:none;
    padding: .9rem 1.7rem;
  }
}
